<div class="surface-overlay shadow-2 flex relative lg:static z-5" style="min-height: 80px">

  <div class="flex flex-column md:flex-row align-items-center justify-content-center p-2 surface-overlay"
    [routerLink]="'/'">
    <img src="../../assets/img/logo.PNG" alt="Image" height="70" class="mr-2">
    <img src="../../assets/img/SoftLock.png" alt="Image" class="mt-2 md:mt-0 w-7rem md:w-8rem xl:w-10rem hidden sm:inline">
  </div>


  <div class="flex flex-1 py-2 px-3 overflow-hidden text-white">
    <span class="flex align-items-center">
      <i class="pi pi-search "></i>
    </span>
    <input type="text" class="appearance-none border-none flex-auto bg-transparent outline-none p-component pl-3 "
      placeholder="Search">
  </div>

  <a pRipple
    class="cursor-pointer flex align-items-center justify-content-center overflow-visible lg:hidden text-white pr-5"
    pStyleClass="@next" enterClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
    <i class="pi pi-bars text-4xl"></i>
  </a>

  <div
    class="lg:flex hidden absolute lg:static left-0 top-100 z-1 shadow-2 lg:shadow-none lg:pr-5 w-full lg:w-auto surface-overlay">
    <ul class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row">

      <li id="home-link" [routerLink]="'/'">
        <a pRipple
          class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-gray-100 hover:text-white hover:bg-gray-800 font-medium border-round cursor-pointer transition-colors transition-duration-150">
          <i class="pi pi-home mr-2"></i>
          <span>Home</span>
        </a>
      </li>

      <li id="answers-link">
        <a pRipple
          class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-gray-100 hover:text-white hover:bg-gray-800 font-medium border-round cursor-pointer transition-colors transition-duration-150">
          <i class="pi pi-star mr-2"></i>
          <span>Reviews</span>
        </a>
      </li>

      <li id="questions-link">
        <a pRipple
          class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-gray-100 hover:text-white hover:bg-gray-800 font-medium border-round cursor-pointer transition-colors transition-duration-150">
          <i class="pi pi-question-circle mr-2"></i>
          <span>Questions</span>
        </a>
      </li>

    </ul>

    <ul class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row">

      <li class="border-top-1 border-gray-800 lg:border-top-none">
        <a pRipple
          class="cursor-pointer flex p-3 align-items-center hover:bg-grey-600 transition-colors transition-duration-150 relative select-none"
          pStyleClass="@next" enterClass="hidden" enterActiveClass="scalein" leaveToClass="hidden"
          leaveActiveClass="fadeout" [hideOnOutsideClick]="true">

          <p-avatar *ngIf="isLogged && user?.profilePicUrl != null" [image]="user?.profilePicUrl || '' "
            styleClass="mr-2" size="large" shape="circle"></p-avatar>
          <p-avatar *ngIf="!isLogged || user?.profilePicUrl == null" icon="pi pi-user" styleClass="mr-2" size="large"
            shape="circle"></p-avatar>

          <div class="block">
            <div class="text-gray-100 hover:text-white font-medium">{{getUserName()}}</div>
          </div>

          <i class="pi pi-chevron-down text-gray-100 ml-3"></i>
        </a>
        <ul
          class="list-none py-0 pl-3 m-0 lg:px-0 lg:py-0 border-round shadow-0 lg:shadow-2 lg:absolute surface-overlay hidden origin-top w-full lg:w-15rem cursor-pointer right-0">

          <li *ngIf="!isLogged" [routerLink]="'/login'">
            <a pRipple
              class="text-gray-100 hover:bg-gray-800 flex p-3 align-items-center text-grey-100 hover:text-white transition-colors transition-duration-150">
              <i class="pi pi-sign-in mr-2"></i>
              <span class="font-medium">Login</span>
            </a>
          </li>

          <li *ngIf="isLogged" [routerLink]="'/profile/'+user?.username">
            <a pRipple
              class="text-gray-100 hover:bg-gray-800 flex p-3 align-items-center text-grey-100 hover:text-white transition-colors transition-duration-150">
              <i class="pi pi-user mr-2"></i>
              <span class="font-medium">Profile</span>
            </a>
          </li>


          <li class="relative" *ngIf="!isLogged" [routerLink]="'/registration'">
            <a pRipple
              class="text-gray-100 hover:bg-gray-800 flex p-3 align-items-center text-grey-100 hover:text-white transition-colors transition-duration-150">
              <i class="pi pi-user-plus mr-2"></i>
              <span class="font-medium">Register</span>
            </a>
          </li>

          <li class="relative" *ngIf="isLogged" (click)="logout()">
            <a pRipple
              class="text-gray-100 hover:bg-gray-800 flex p-3 align-items-center text-grey-100 hover:text-white transition-colors transition-duration-150">
              <i class="pi pi-sign-out mr-2"></i>
              <span class="font-medium">Logout</span>
            </a>
          </li>

        </ul>
      </li>

    </ul>

  </div>
