<div [formGroup]="userForm">

  <span class="p-float-label my-5 field">
    <input id="first-name" formControlName="name" type="text" pInputText>
    <label for="first-name">First Name</label>
  </span>

  <span class="p-float-label my-5 field">
    <input id="last-name" formControlName="lastName" type="text" pInputText>
    <label for="last-name">Last Name</label>
  </span>

  <span class="p-float-label my-5 field p-input-icon-right">
    <i *ngIf="!userForm.controls['username'].invalid && !userForm.controls['username'].valid && userForm.controls['username'].value != '' &&  userForm.controls['username'].dirty "
      class="pi pi-spin pi-spinner"></i>

      <input id="username" formControlName="username" type="text" pInputText pTooltip="no white space max 15 characters"
      tooltipPosition="top" tooltipEvent="focus">

    <label for="username">
      {{userForm.controls['username'].valid || !userForm.controls['username'].dirty ? "Username": "Invalid username or already in use" }}
    </label>

  </span>

  <span class="p-float-label my-5 field p-input-icon-right">
    <i *ngIf="!userForm.controls['email'].invalid && !userForm.controls['email'].valid && userForm.controls['email'].value != '' &&  userForm.controls['email'].dirty "
      class="pi pi-spin pi-spinner"></i>

      <input id="email" formControlName="email" type="text" pInputText>

    <label for="email">
      {{userForm.controls['email'].valid || !userForm.controls['email'].dirty ? "Email": "Invalid email or already in use" }}
    </label>

  </span>

</div>
