<div [formGroup]="passwordForm">

  <span class="p-float-label field my-5">
    <p-password inputId="password" formControlName="password" inputStyleClass="w-full" styleClass="w-full"
      [toggleMask]="true" [showClear]="true">

      <ng-template pTemplate="footer">

        <p-divider></p-divider>

        <p class="mt-2">Password must have: </p>

        <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
          <li>At least one lowercase character</li>
          <li>At least one uppercase character</li>
          <li>At least one numeric</li>
          <li>No white space</li>
          <li>Minimum 5 characters</li>
        </ul>

      </ng-template>

    </p-password>

    <label for="password">Password</label>
  </span>

  <span class="p-float-label field my-5">
    <p-password inputId="confirm" formControlName="confirm" inputStyleClass="w-full" styleClass="w-full"
      [toggleMask]="true" [showClear]="true" [feedback]="false"></p-password>

    <label for="confirm">Confirm password</label>
  </span>

</div>
