<div id="footer" class="w-screen surface-section flex flex-wrap gap-5 justify-content-evenly px-1 py-4">

    <div class="flex align-items-center justify-content-center">
        <img class="h-4rem" src="..\assets\img\logo.PNG" alt="SoftLock-logo">
        <img class="w-6rem" src="..\assets\img\SoftLock.png" alt="SoftLock">
    </div>

    <div class="flex align-items-center justify-content-center gap-3 mr-2">
        <a href="https://github.com/PiovaD" target="_blank"><i class="pi pi-github text-color text-xl"></i></a>
        <a href="https://www.linkedin.com/in/dario-p-353114240/" target="_blank"><i class="pi pi-linkedin text-color text-xl"></i></a>
        <a href="mailto: dario.piovani95@gamil.com" target="_blank"><i class="pi pi-envelope text-color text-xl"></i></a>
    </div>

</div>
