<div class="surface-border mx-auto border-round surface-section p-3 lg:w-6 shadow-8">

  <div class="surface-card p-5 shadow-2 border-round flex-auto">
    <h3 class="text-900 font-semibold text-lg mt-3 text-2xl">Create profile</h3>

    <p-messages></p-messages>

    <p-divider></p-divider>

    <form class="flex gap-5 flex-column-reverse md:flex-row" >

      <div class="flex-auto p-fluid">

        <app-user-form [userForm]="registerForm"></app-user-form>

        <app-password-form [passwordForm]="registerForm"></app-password-form>

        <div class="flex justify-content-between  flex-wrap">
          <button pButton pRipple label="Register Profile" class="w-auto mb-3" (click)="submitForm()" [loading]="isLoading" [disabled]="!registerForm.valid"></button>

          <button pButton pRipple label="Reset" class="w-auto mb-3" (click)="resetForm()" ></button>
        </div>
      </div>

      <app-avatar-form [avatarForm]="registerForm"></app-avatar-form>

    </form>
  </div>
</div>
