<p>registration works!</p>
<!-- <div class="surface-overlay p-4 mx-auto md:w-9 lg:w-6">
  <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <h3 class="text-900 text-2xl font-medium mb-6">Login</h3>

    <span class="p-float-label mb-5 field w-full">
      <input inputId="login-username" formControlName="username" type="text" name="username" pInputText class="w-full">
      <label for="login-username">Username</label>
    </span>

    <span class="p-float-label field mb-5">
      <p-password inputId="login-password" formControlName="password" type="password" inputStyleClass="w-full" styleClass="w-full" [toggleMask]="true"
        [showClear]="true">
        <ng-template pTemplate="footer">
          <p-divider></p-divider>
          <p class="mt-2">Suggestions</p>
          <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
            <li>At least one lowercase character</li>
            <li>At least one uppercase character</li>
            <li>At least one numeric</li>
            <li>Minimum 5 characters</li>
          </ul>
        </ng-template>
      </p-password>

      <label for="login-password">Password</label>
    </span>

    <div class="flex align-items-center justify-content-between mb-6">
      <div class="flex align-items-center field-checkbox">
        <p-checkbox inputId="rememberme" formControlName="remember" [binary]="true" styleClass="mr-2"></p-checkbox>
        <label for="rememberme">Remember me</label>
      </div>
    </div>

    <button pButton pRipple label="Login" icon="pi pi-user" class="w-full" [loading]="isLoading" ></button>

    <div class="mt-6 text-center text-600">
      Don't have an account? <a tabindex="0" class="font-medium text-blue-500" [routerLink]="'/register'">Sign up</a>
    </div>
  </form>
</div> -->
