#user-info-avatar {

    .dev {
        border: 2px solid var(--yellow-700);

    }

    .admin {
        border: 2px solid var(--cyan-800);

    }

    .press {
        border: 2px solid var(--teal-600);

    }

    .influencer {
        border: 2px solid var(--orange-700);

    }

    .gamer {
        border: 2px solid var(--primary-color);

    }

    .user {
        border: 2px solid var(--surface-300);

    }
}
