<div [formGroup]="postForm" class="w-full">
    <span class="p-float-label my-5 field w-full">
        <input id="question-title" formControlName="title" type="text" class="w-full" pInputText>
        <label for="question-title">
            {{postForm.controls['title'].valid || !postForm.controls['title'].dirty ? "Title": "Title is already in use" }}
        </label>
    </span>

    <span class="p-float-label my-5 field">
        <textarea id="float-input" rows="5" formControlName="text" class="w-full" pInputTextarea></textarea>
        <label for="float-input">Text
        </label>
    </span>
</div>
