<div *ngIf="game" class="surface-border mx-auto border-round surface-section p-3 lg:w-8 shadow-8">

  <div class="flex flex-column sm:flex-row">
    <img [id]="game.slug" [src]="'https://images.igdb.com/igdb/image/upload/t_cover_big/'+game.imageID+'.png'"
      [alt]="game.slug" class="max-h-22rem max-w-17rem">

    <div class="ml-5">
      <h3 class="text-4xl mb-2">{{game.name}}</h3>

      <section id="rating" class="flex flex-row align-items-center align-content-center">
        <p-rating [ngModel]="rating" [readonly]="true" [stars]="5" [cancel]="false" styleClass="m-0" [disabled]="true">
        </p-rating>
        <p class="text-500 m-0 ml-2">{{'(' + ratings.length + ')'}}</p>
      </section>

      <h5 class="text-xl text-500">{{game.releaseDate.toLocaleDateString() + ' (' + dateDiffInDays() + ' days ago)'}}
      </h5>

      <div id="game-platform">
        <p class="text-500">Platform:</p>
        <p-chip *ngFor="let platform of game.platforms" [label]="platform.name"
          styleClass="mr-2  mb-2 custom-chip bg-cyan-800"></p-chip>

      </div>

      <div id="game-genre">
        <p class="text-500">Genre:</p>
        <p-chip *ngFor="let genre of game.genres" [label]="genre.name" styleClass="mr-2 mb-2 custom-chip bg-cyan-800">
        </p-chip>

      </div>

    </div>
  </div>

  <div class="flex flex-column">
    <p-divider [align]="'center'"> <span>Summary</span> </p-divider>

    <p>{{game.summary}}</p>


    <section class="flex-1">
      <p-divider [align]="'center'"> <span class="p-2">Top 6 questions</span> </p-divider>

      <div class="flex flex-wrap align-items-stretch">
        <app-post-card *ngFor="let post of questions | slice:0:6" [post]="post" class="flex-1 cursor-pointer"></app-post-card>
      </div>
    </section>

    <section class="flex-1">
      <p-divider [align]="'center'"> <span class="p-2">Top 6 reviews</span> </p-divider>

      <div class="flex flex-wrap align-items-stretch">
        <app-post-card *ngFor="let post of reviews | slice:0:6" [post]="post" class="flex-1 cursor-pointer"></app-post-card>
      </div>
    </section>

  </div>
</div>
